body{
    background: #f9e4f8;
    margin:0;
}
header { 
    background-color: black;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px
}
header li{
    text-decoration: none; 
    display: inline-block; 
    width: 24%;
    text-align: center;
}
header a {
    color: white;
    text-decoration: none;
}
footer{
  background-color: black; 
    text-align: center; 
}

footer li {
    display: inline-block;
    margin-left:40px;
    margin-right:40px;
}

main{ 
max-width: 800px;
margin:auto;
padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.main-center{
    text-align: center;
}

h1{
    text-align: center;
}
main img{
    border-radius:20px;
}

.text-image{
    position:relative;
    bottom:50px;
}

.text-image{
    position: relative;
    bottom: 50px;
}

.texte-image{
    position: relative;
    bottom: 50px;
}